<!--<h2>Log in</h2>-->
<%# provide(:title, "Sign in") %>
<%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<!--  <div class="field">-->
<!--    <%#= f.label :email %><br />-->
    <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
<!--  </div>-->

<!--  <div class="field">-->
<!--    <%#= f.label :password %><br />-->
    <%#= f.password_field :password, autocomplete: "current-password" %>
<!--  </div>-->

  <%# if devise_mapping.rememberable? %>
<!--    <div class="field">-->
      <%#= f.check_box :remember_me %>
      <%#= f.label :remember_me %>
<!--    </div>-->
  <%# end %>

<!--  <div class="actions">-->
    <%#= f.submit "Log in" %>
<!--  </div>-->
<%# end %>

<%#= render "users/shared/links" %>
<aside class="col-sm-4">
  <div class="card">
    <article class="card-body">
      <a href="" class="float-right btn btn-outline-primary">Sign up</a>
      <h4 class="card-title mb-4 mt-1">Sign in</h4>
      <form>
        <div class="form-group">
          <label>Your email</label>
          <input name="" class="form-control" placeholder="Email" type="email">
        </div> <!-- form-group// -->
        <div class="form-group">
          <a class="float-right" href="#">Forgot?</a>
          <label>Your password</label>
          <input class="form-control" placeholder="******" type="password">
        </div> <!-- form-group// -->
        <div class="form-group">
          <div class="checkbox">
            <label> <input type="checkbox"> Save password </label>
          </div> <!-- checkbox .// -->
        </div> <!-- form-group// -->
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block"> Login  </button>
        </div> <!-- form-group// -->
      </form>
    </article>
  </div> <!-- card.// -->
</aside>
